
    body {
        background-color: #05c46b;
        font-family: Verdana;
        text-align: center;
}
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
*{
 text-align: center;
}
#center{
    align-items: center;
}
